**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/*.user
**/.dockerignore
**/docker-compose*
**/Dockerfile*
**/.git
**/.gitignore
**/.env
**/node_modules/
www/
Documentacion/
Thumbs.db
Desktop.ini
.DS_Store
*.log
**/test-results/